.board {
    margin-top: -30px;
}

.piece {
    height: 35px;
}

.button-house {
    display: grid;
    position: absolute;
    left:36%;
}
.city-icon {
    margin: 1px;
}

.rotate-right {
    transform: rotate(117deg);
}
.rotate-left {
    transform: rotate(-117deg);
}