.playerboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-dash {
  margin-right: 5px;
  border: solid 2px lightgray;
  border-radius: 12px;
  line-height: normal;
}
.active {
  background-color: lightgray;
  outline: transparent;
}

.tile-robber {
  width: 60px;
  height: 60px;
  margin: 30px;
  z-index: 100;
}
.p-10 {
  padding: 10px;
}
.icon-robber {
  background: white;
  border-radius: 50%;
}

.board-placement {
  position: absolute;
  width: 85%;
}

.margin-topRow {
  margin-top: 52px;
  margin-bottom: -10px;
}
.margin-row {
  margin-top: 5px;
  margin-bottom: -10px;
}
.margin-lowerCity {
  margin-top: -14px;
}
.margin-crossroad {
  margin-top: -30px;
}
.tile-half {
  width: 60px;
}
.tile-full {
  width: 120px;
}

button {
  background-color: transparent;
  border: none;
}

.transparent {
  color: transparent;
}

@media (max-width: 900px) {
  .dashboard {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-white { color: white; }

.dropdown-menu { min-width: 40px; }