.board {
    margin-top: -40px;
}

.piece {
    height: 23px;
}

.button-city {
    display: grid;
    position: absolute;
    left:37%;
}

.rotate-right {
    transform: rotate(27deg);
}
.rotate-left {
    transform: rotate(-27deg);
}
.rotate-up {
    transform: rotate(90deg);
    margin-top: 15px !important;
}