.dashboard {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.row {
  display: flex;
  justify-content: center;
}
.board {
  margin-top: -31px;
}
.piece {
  height: 23px;
}

.road {
  display: flex;
  margin-top: -5px;
}

.button-city {
  display: grid;
  position: absolute;
  left:35%;
  background-color: transparent;
  border-style: none;
}

.button-road {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  width: 35px;
  height: 15px;
}

.rotate-right {
  transform: rotate(27deg);
}
.rotate-left {
  transform: rotate(-27deg);
}
.rotate-up {
  transform: rotate(90deg);
  margin-top: 10px;
}

.absolute {
  position: absolute;
  width: 80%;
}
.relative {
  position: relative;
}
.d-flex {
  display: flex;
}

.margin-40 {
  margin-top: 37px;
}
.margin-10 {
  margin-top: 10.75px;
}
.margin--20 {
  margin-top: -20px;
}
.tile-half {
  width: 55px;
}
.tile-full {
  width: 110px;
}